.jumbotron {
    background-color: #212529;
    color: gold;
}
.trainHeader {
    background-color: #212529;
    color: #fff;
}
.btn-primary {
    background-color: gold;
    color: black;
    border: #212529;
}

.form-group {
    background-color: #212529;
    color: #fff;
}
.form-control {
    background-color: #343a40;
    color: #fff;
}
body {
    background-color: #212529;
}
